<!DOCTYPE html>
<html>
    <head lang="ja">
        <meta charset="UTF-8">
        <title>Djangoを使ったWebアプリケーション開発</title>
    </head>
    <body>
        <h1>ようこそPythonの世界へ!</h1>
        <h2>時刻:{{datetime}}</h2>
        <h2>メッセージ:{{message}}</h2>
        <h2>アイテム一覧</h2>
        <p><a href="https://rikuto511.pythonanywhere.com/myapp/item/101">Nginx ポケットリファレンス</a></p>
        <p><a href="https://rikuto511.pythonanywhere.com/myapp/item/102">サーバの構築がわかる Apache[実践]運用/管理</a></p>
        <p><a href="https://rikuto511.pythonanywhere.com/myapp/item/103">rsyslog 実践 ログ管理入門</a></p>
    </body>
</html>